/assets/*.js
/assets/*.js.map
/bower_components/
/tools/Location History.json
/vendor/
config.inc.php
owntracks.db3

# Composer binary (get it from https://getcomposer.org/download/)
/composer.phar

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# macOS metadata files
.DS_Store
.AppleDouble
.LSOverride
._*
