  <!-- JQUERY !-->
  <script type="text/javascript" src="bower_components/jQuery/dist/jquery.min.js"></script>

  <!-- BOOTSTRAP !-->
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-grid.min.css"/>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css"/>

  <!-- LEAFLET.JS !-->
  <script type="text/javascript" src="bower_components/leaflet/dist/leaflet.js"></script>
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css"/>
  <script type="text/javascript" src="bower_components/leaflet-hotline/dist/leaflet.hotline.min.js"></script>
  <script type="text/javascript" src="bower_components/leaflet-awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
  <link rel="stylesheet" href="bower_components/leaflet-awesome-markers/dist/leaflet.awesome-markers.css"/>

  <script type="text/javascript" src="bower_components/js-cookie/src/js.cookie.js"></script>
