  <!-- JQUERY !-->
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>

  <!-- BOOTSTRAP !-->
  <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-grid.min.css"/>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css"/>

  <!-- LEAFLET.JS !-->
  <script type="text/javascript" src="node_modules/leaflet/dist/leaflet.js"></script>
  <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css"/>
  <script type="text/javascript" src="node_modules/leaflet-hotline/dist/leaflet.hotline.min.js"></script>
  <script type="text/javascript" src="node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
  <link rel="stylesheet" href="node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.css"/>
  <script type="text/javascript" src="node_modules/leaflet-easybutton/src/easy-button.js"></script>
  <link rel="stylesheet" href="node_modules/leaflet-easybutton/src/easy-button.css"/>

  <script type="text/javascript" src="node_modules/js-cookie/src/js.cookie.js"></script>
